.CoverPage {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.section {
  margin-top: auto;
  margin-left: 24px;
  margin-right: 24px;
}

.text-primary {
  color: white;
  text-shadow: 1px 1px 5px black;
}

.text-secondary {
  display: block;
  font-style: italic;
}