.CoverPage {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.section {}

.text-primary {
  color: white;
  text-shadow: 1px 1px 5px black;
  font-family: 'system-ui'!important;
  font-style: italic;
}

.text-secondary {
  display: block;
  font-style: italic;
}