.WelcomeToOurHistory {
  height: inherit;
  text-align: justify;
}

.grid-container {
  height: inherit!important;
}

.grid-column-row {}

.swiper-container {
  height: inherit;
}

.swiper-container > div:first-child {
  height: inherit!important;
}

.swiper-slide {
  display: flex!important;
}