.WelcomeToOurHistory {
  height: inherit;
  padding: 22px;
  text-align: justify;
}

.grid-container {
  height: inherit;
}

.grid-column-row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 36px!important;
}

.swiper-container {
  height: inherit;
}